// =========================================
// KINDA RANDOM CSS TO IMPROVE
// =========================================
body {
  background-color: grey;
}

#serialized-rendered {
  display: none;
}

#poster-rendered-image {
  box-shadow: 1px 5px 10px -4px black;
}

.svghtml-embed {
  padding: 8%;
}

#poster {
  .blackhole,
  .cosmic-latte,
  .navy,
  .supernova {
    .poster-grid .starry-design-wrapper #myastro {
      --orbit-color: white;
    }
  }
  .deep-space-blue,
  .cosmic-love {
    .poster-grid .starry-design-wrapper #myastro {
      --orbit-color: black;
    }
  }
}


.starry-starmap-container {
  display: none;
}
// =========================================
// KINDA RANDOM CSS TO IMPROVE
// =========================================
