#poster-container {
  // height: 100%;
  // width: 100%;

  // transform: scale(0.2);
  transform-origin: top left;

  #poster {
    width: 27in;
    height: 36in;
    padding: 12rem 9.5rem;

    .poster {
      &-grid {
        .poster-label {
          display: flex;
          height: 100%;
          flex-direction: column;
          justify-content: flex-end;
          align-self: end;
          text-align: center;
          @mixin hover_style {
            &:hover {
              outline: grey dashed 0.5rem;
              transition: none;
            }
          }
          @mixin empty_display_none_style {
            &:empty {
              outline: grey dashed 0.5rem;
              transition: none;
            }
          }

          @mixin editable-content {
            span {
              @include empty_display_none_style;
              @include hover_style;
              white-space: pre;
              display: block;
            }
          }

          *:focus {
            outline: grey dashed 0.5rem;
            transition: none;
          }

          #posterTitle {
            font-size: 11rem;
            margin-block-start: 0;
            margin-block-end: 3rem;
            font-family: Satisfy, sans-serif;
            line-height: 100%;
            font-weight: 400;
            @include editable-content;
          }

          #posterSubtitle {
            font-size: 3.3rem;
            white-space: pre-wrap !important;
            margin-block-start: 0;
            margin-block-end: 3.2rem;
            font-family: 'Barlow Semi Condensed', sans-serif;
            line-height: 100%;
            font-weight: 500;
            @include editable-content;
          }

          #posterLocation,
          #posterCoordinates {
            font-size: 3.7rem;
            line-height: 130%;
            margin-block-start: 0;
            margin-block-end: 0;
            font-family: 'Barlow Semi Condensed', sans-serif;
            // font-size: 0.6rem;
            // line-height: 110%;
            // margin: 0;
            @include editable-content;
          }
          #posterCoordinates {
            font-size: 3.2rem;
            margin-block-end: 0;
            line-height: 100%;
            @include editable-content;
          }

          #posterDate,
          .poster-date {
            display: block;
            position: relative;
            font-size: 4.7rem;
            margin-block-start: 0;
            margin-block-end: 5rem;
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-weight: bold;
            // font-size: 0.6rem;
            line-height: 110%;
            // margin-bottom: 1rem;
            @include empty_display_none_style;
            @include hover_style;

            vaadin-date-picker {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              display: block;
            }
          }
        }
      }
    }
  }
}

#poster-container {
  .svghtml-embed {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    padding: 8%;
  }
  .planets-black {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #1d2e43 0, #0a1720 100%);

    .poster-quadrent {
      &-white {
        display: none;
      }

      &-calendar-black {
        display: block !important;
      }

      &-black {
        display: none;
      }
    }

    .poster-grid {
      border: none;
      padding: 0;
    }

    .starry-design-wrapper {
      border-color: #0f1d26;
      background-image: radial-gradient(ellipse farthest-corner at 70% 40%, #f9f5f0 0, #f6e5ce 50%);
    }

    .starry-border {
      border: none;
    }
  }

  .planets-white {
    background-image: radial-gradient(
      circle farthest-corner at 50% 50%,
      #faf8f4,
      hsla(35.38461538461539, 66.1%, 88.43%, 1)
    );

    .poster-quadrent {
      &-black {
        display: none;
      }

      &-calendar-white {
        display: block;
      }

      &-white {
        display: none;
      }
    }

    .poster-grid {
      border: none;
    }

    .starry-design-wrapper {
      background-image: radial-gradient(
        circle farthest-corner at 50% 50%,
        #243746,
        hsla(215.2941176470588, 36.17%, 9.22%, 1)
      );
    }

    .starry-border {
      border: none;
    }
  }

  .planets-white-calendar {
    background-image: radial-gradient(
      circle farthest-corner at 50% 50%,
      #faf8f4,
      hsla(35.38461538461539, 66.1%, 88.43%, 1)
    );

    .starry-quadrent {
      margin: -70px;
    }

    .starry-starmap-container {
      margin: 80px;
    }

    .poster-grid {
      border: none;
      padding: 0;
    }

    .starry-design-wrapper {
      border-color: #0f1d26;
      background-image: radial-gradient(
        circle farthest-corner at 50% 50%,
        #243746,
        hsla(215.2941176470588, 36.17%, 9.22%, 1)
      );
    }

    .starry-border {
      border: none;
    }
  }

  .planets-black-calendar {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #1d2e43 0, #0a1720 100%);

    .poster-quadrent {
      &-white {
        display: none;
      }

      &-calendar-astro-black {
        display: block !important;
      }

      &-black {
        display: none;
      }
    }

    .starry-quadrent {
      margin: -70px;
    }

    .starry-starmap-container {
      margin: 80px;
    }

    .poster-grid {
      border: none;
      padding: 0;
    }

    .starry-design-wrapper {
      border-color: #0f1d26;
      background-image: radial-gradient(ellipse farthest-corner at 70% 40%, #f9f5f0 0, #f6e5ce 50%);
    }

    .starry-border {
      border: none;
    }
  }
}

// <> Poster Rendering Style for print ===================================================
