#poster-container {
  height: 100%;
  width: 100%;

  #poster {
    width: 27in;
    height: 36in;

    transform: scale(0.3);
    transform-origin: top left;

    padding: 12rem 9.5rem;
    box-shadow: none;

    .poster {
      &-grid {
        .poster-label {
          #posterTitle {
            font-size: 7rem;
          }

          #posterSubtitle {
            font-size: 3.3rem;
            margin-bottom: 3.2rem;
            white-space: pre-wrap !important;
          }

          #posterCoordinates {
            font-size: 2.5rem;
            line-height: 170%;
          }

          #posterDate {
            font-size: 2.5rem;
            margin-bottom: 3.5rem;
          }
        }
      }
    }
  }
}

// <> Poster Rendering Style for print ===================================================
