#poster {
	
  .poster-frame-preview {
    transition: background 0.5s;
    // transform: translate(0px, 0px) scale(0.2)!important;
    padding: 160px;
    border-radius: 15px;
    border-width: 10px;
    box-shadow: 5px 20px 50px -10px #00000080;

    .inner-shadow {
      border-radius: 15px;
      border-width: 10px;
      display: block;
    }
  }

  .page-no-inset-shadow {
    .inner-shadow {
      display: none;
    }

    .poster-frame-inner-container {
      padding: 0;
      box-shadow: 0px 10px 50px -25px #00000080;
      border: none;
      border-radius: 0;
    }
  }

  .display-poster-frame {
    box-shadow: none;
    padding: 0;
    margin-top: 8px;
    margin-left: 35px;

    @media (max-width: 479px) {
      box-shadow: none;
      padding: 0;
      margin-top: 8px;
      margin-left: 20px;
    }
  }
}

.container-frame {
  height: 575px;
  width: 100%;
  max-width: 430px;
  justify-self: center;
  align-self: start;
  position: relative;
  display: block;

  @media (max-width: 479px) {
    max-width: 220px;
  }
}

#container {
  position: absolute;
  top: 0px;
  left: -25px;

  @media (max-width: 479px) {
    left: -20px;
  }
}

#Poster-Frame-Design-Container {
  transform-origin: top center;

  #container {
    top: 0px;
    left: 0px;
  }

  #poster {
    box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.7);
  }
}

.print-page-designer-container {
  transform: translate(-95px, 0px) scale(0.61);
  transform-origin: top center;

  #Designer-App {
    transform-origin: top center !important;
    width: 480px;
  }
}

// <> Poster Designer App ===================================================
// Designer App Inputs ====================================================
.w-webflow-badge {
  display: none !important;
}

.buy-button {
  &:disabled,
  &[disabled],
  &[disabled='disabled'] {
    background-color: grey;
    cursor: not-allowed;
  }
}

#Poster-Link {
  word-break: break-all;
}

.theme-selection-radio,
.frame-selection-radio,
.size-selection-radio {
  input {
    &[type='radio']:checked + span {
      border: 3px solid #4caf50 !important;
    }

    &.error + span {
      border: 3px solid red;
      border-radius: 5px;
    }
  }
}

input,
select,
textarea {
  &.error {
    outline: none;
    border-color: red;
    border-width: 1px;
    border-style: solid;

    &:valid {
      border-style: auto;
      border-color: 1px solid #cccccc;
    }
  }
}

// <> Designer App Inputs ====================================================
