
// .poster-grid,
// .poster,
// .poster-frame-design-container,
// .poster-label,
// .right-grid {
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
// }

// .left-container,
// .main-grid,
// .right-grid {
//   position: relative;
//   width: 100%;
//   background-color: transparent;
//   overflow: hidden;
// }

// .lightbox-home {
//   display: flex;
//   -webkit-box-pack: center;
//   -webkit-justify-content: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
// }

// .main-grid {
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   display: -ms-grid;
//   display: grid;
//   height: 100vh;
//   max-width: 100vw;
//   justify-items: stretch;
//   -webkit-box-align: stretch;
//   -webkit-align-items: stretch;
//   -ms-flex-align: stretch;
//   align-items: stretch;
//   grid-auto-columns: 1fr;
//   grid-column-gap: 0;
//   grid-row-gap: 16px;
//   -ms-grid-columns: minmax(55%, 100%) auto;
//   grid-template-columns: minmax(55%, 100%) auto;
// }

.poster-quadrent-white,
.poster-star-map {
  max-width: none;
  height: 100%;
}

.poster-grid,
.left-container {
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

// .left-container {
//   z-index: 0;
//   display: block;
//   -webkit-box-pack: center;
//   -webkit-justify-content: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   justify-items: center;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-align-content: center;
//   -ms-flex-line-pack: center;
//   align-content: center;
//   -ms-grid-columns: 100%;
//   grid-template-columns: 100%;
//   cursor: default;
// }

// .right-grid {
//   display: flex;
//   height: 100%;
//   min-width: 500px;
//   -webkit-flex-direction: column;
//   -ms-flex-direction: column;
//   flex-direction: column;
// }

.poster {
  position: static;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 1.5rem;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #faf8f4, #f5e5ce);
}

// .poster.page-no-inset-shadow {
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   box-shadow: none;
// }

// .poster.page-no-inset-shadow.page-inset-shadow {
//   width: 680px;
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   box-shadow: inset 3px 1px 6px 6px rgba(0, 0, 0, 0.5);
// }

.poster-grid {
  display: -ms-grid;
  display: grid;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: stretch;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

// .app-menu-label.create-label,
// .poster-label {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
// }

// .field-month,
// .field-time {
//   -ms-grid-columns: 1fr 1fr 1fr;
//   grid-template-columns: 1fr 1fr 1fr;
//   -ms-grid-rows: 40px;
//   grid-template-rows: 40px;
//   grid-auto-columns: 1fr;
//   grid-column-gap: 16px;
// }

.starry-design-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-style: solid;
  border-width: 2.5px;
  border-color: #fff;
  border-radius: 140%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #243746, #0f1620);
  text-transform: lowercase;
}

.starry-quadrent,
.starry-starmap-container {
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.poster-label {
  display: flex;
  height: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  align-self: end;
  text-align: center;
}

// .starry-quadrent {
//   position: relative;
//   margin: -3px;
// }

// .poster-quadrent-white {
//   position: absolute;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   display: none;
//   width: 100%;
//   margin-right: 0;
//   margin-left: 0;
// }

// .poster-quadrent-placeholder,
// .poster-star-map {
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   margin-right: 0;
//   margin-left: 0;
//   display: block;
// }

// .poster-quadrent-placeholder {
//   position: static;
//   left: 0;
//   top: 0;
//   opacity: 0;
// }


// .poster-star-map {
//   position: absolute;
//   left: 0;
//   top: 0;
// }

// .poster-star-map.main-design-image {
//   display: block;
//   width: 80%;
//   height: 80%;
//   margin-right: auto;
//   margin-left: auto;
// }

// .poster-code,
// .poster-css-code {
//   display: block;
// }

// .image-7 {
//   display: none;
//   width: 600px;
//   height: auto;
//   border-style: solid;
//   border-width: 1px;
//   border-color: #ff0101;
//   opacity: 0.46;
// }

// .app-menu-label {
//   padding-top: 10px;
//   font-family: Catamaran, sans-serif;
//   font-size: 14px;
//   line-height: 1em;
//   font-weight: 300;
// }

// .app-menu-label.sub-label {
//   padding-top: 0;
// }

// .app-menu-label.create-label {
//   display: flex;
//   padding-right: 0;
//   padding-bottom: 0;
//   padding-left: 0;
//   -webkit-box-align: stretch;
//   -webkit-align-items: stretch;
//   -ms-flex-align: stretch;
//   align-items: stretch;
//   font-family: Oswald, sans-serif;
//   font-size: 18px;
//   font-weight: 400;
// }

.poster-frame-design-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

// .form {
//   padding: 0;
//   border: 1px #b0b0b0;
// }

// .app-menu-text-field {
//   width: 100%;
//   border-radius: 20px;
//   font-family: Montserrat, sans-serif;
// }

// .div-block-34,
// .rounded-button,
// .theme-selection-radio {
//   font-family: Catamaran, sans-serif;
// }

// .app-menu-text-field.field-month {
//   margin-right: 10px;
//   margin-bottom: 0;
// }

// .design-choice,
// .design-choice-circle,
// .poster-frame-design-container {
//   margin-right: auto;
//   margin-left: auto;
// }

// .app-menu-text-field.field-minutes {
//   margin-bottom: 0;
// }

// .app-menu-text-field.subtitle-text-field {
//   max-width: 100%;
//   min-width: 100%;
// }

// .design-choice-circle {
//   width: 45px;
//   height: 45px;
//   border-radius: 100%;
//   background-image: radial-gradient(circle farthest-corner at 50% 50%, #f9f5f0, #f6e5ce);
// }

// .design-choice {
//   padding: 10px 10px 10px 8px;
//   border: 2px solid transparent;
//   border-radius: 0;
//   background-image: -webkit-gradient(linear, left top, left bottom, from(#1d2e43), to(#1d2e43));
//   background-image: linear-gradient(180deg, #1d2e43, #1d2e43);
// }

// .design-choice:hover {
//   border-style: solid;
//   border-color: #f39237;
// }

// .design-block-option {
//   width: auto;
// }

// .design-block-option:hover {
//   border-style: none;
//   border-width: 3px;
//   border-color: #f39237;
// }

// .poster-frame-design-container {
//   position: relative;
//   display: flex;
//   overflow: hidden;
//   width: 100%;
//   height: auto;
//   max-height: 1200px;
//   max-width: none;
//   padding-bottom: 150px;
//   -webkit-flex-direction: column;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-pack: center;
//   -webkit-justify-content: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   align-self: center;
//   background-color: #e6e6e6;
// }

// .style-chooser {
//   display: flex;
//   width: auto;
//   -webkit-box-pack: justify;
//   -webkit-justify-content: space-between;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   -webkit-flex-wrap: wrap;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
// }

// .poster-quadrent-black,
// .snipcart-add-item {
//   position: absolute;
//   width: 100%;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }


// .poster-quadrent-black {
//   top: 0;
//   display: none;
//   overflow: visible;
//   height: 100%;
//   max-width: none;
//   margin-right: 0;
//   margin-left: 0;
// }

// .buy-button-container,
// .snipcart-add-item {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
// }

// .buy-button-container {
//   display: flex;
//   margin-top: 13px;
//   -webkit-justify-content: space-around;
//   -ms-flex-pack: distribute;
//   justify-content: space-around;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-align-self: stretch;
//   -ms-flex-item-align: stretch;
//   align-self: stretch;
// }


// .starry-starmap-container {
//   position: absolute;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 999;
//   display: block;
//   margin: -25px;
//   border: 0 #fff;
//   background-position: 0 0;
// }

// .background-image-mockup,
// .design-radio-label,
// .logo-link,
// .radio-black-frame,
// .size-radio-button-label {
//   background-repeat: no-repeat;
// }

// .starry-border {
//   position: absolute;
//   left: 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   display: none;
//   margin: 0;
//   border: 10px solid #15202c;
//   border-radius: 140%;
//   line-height: 30px;
// }

// .field-month {
//   display: -ms-grid;
//   display: grid;
//   width: auto;
//   max-width: 400px;
//   min-width: 0;
//   grid-row-gap: 16px;
// }

// .field-year.app-menu-text-field {
//   width: 75px;
//   margin-bottom: 0;
// }

// .field-day.app-menu-text-field {
//   width: 70px;
//   margin-right: 10px;
//   margin-bottom: 0;
// }

// .theme-selection-radio:hover {
//   border-style: none;
//   border-width: 3px;
//   border-color: #f39237;
// }

// .theme-selection-radio:focus {
//   border-style: none;
//   border-color: #39a9db;
// }

// .design-radio-button {
//   display: none;
//   margin-top: 0;
//   margin-left: 0;
// }

// .field-time,
// .map-design-selector {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
// }

// .design-radio-button:active {
//   border-style: solid;
//   border-width: 3px;
//   border-color: #e021ee;
// }

// .map-design-selector {
//   display: flex;
//   padding: 0;
//   -webkit-box-pack: justify;
//   -webkit-justify-content: space-between;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   -webkit-flex-wrap: nowrap;
//   -ms-flex-wrap: nowrap;
//   flex-wrap: nowrap;
//   -webkit-box-align: stretch;
//   -webkit-align-items: stretch;
//   -ms-flex-align: stretch;
//   align-items: stretch;
//   -webkit-align-content: flex-start;
//   -ms-flex-line-pack: start;
//   align-content: flex-start;
// }

// .design-radio-label {
//   width: 65px;
//   height: 65px;
//   max-width: none;
//   min-width: 0;
//   padding: 0;
//   border-style: solid;
//   border-width: 3px;
//   border-color: rgba(0, 0, 0, 0.05);
//   background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca5385a2965eb34dd6d1ef3_1.png);
//   background-position: 50% 0;
//   background-size: cover;
//   font-size: 10px;
// }

// .design-radio-label:hover {
//   border-width: 3px;
//   border-color: #f39237;
// }

// .design-radio-label.radio-label-image-deep-space-blue {
//   margin: 0;
// }

// .design-radio-label.radio-label-image-navy {
//   margin: 0;
//   background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca538593640511b85cc7446_3.png);
//   background-size: cover;
// }

// .design-radio-label.radio-label-image-cosmic-love {
//   margin: 0;
//   background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ccf3b8608feb99f72fdc222_5ca53858a4d83fef18f9eb9b_4new.png);
//   background-size: contain;
// }

// .design-radio-label.radio-label-image-blackhole {
//   margin: 0;
//   background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca538593640515840cc7447_5.png);
//   background-size: cover;
// }

// .design-radio-label.radio-label-image-supernova {
//   margin: 0;
//   background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca538588ad431544152f501_6.png);
//   background-size: cover;
// }

// .design-radio-label.radio-label-image-cosmic-latte {
//   margin-bottom: 0;
//   background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca5385a36405185edcc7474_2.png);
//   background-size: cover;
// }

// .field-time {
//   display: flex;
//   width: 250px;
//   max-width: 400px;
//   -webkit-box-pack: start;
//   -webkit-justify-content: start;
//   -ms-flex-pack: start;
//   justify-content: start;
//   justify-items: start;
//   grid-row-gap: 16px;
// }

// .field-hours.app-menu-text-field,
// .field-minutes.app-menu-text-field {
//   width: 70px;
//   margin-right: 10px;
//   margin-bottom: 0;
// }

// .field-am-pm.app-menu-text-field {
//   width: 70px;
// }

// .div-block-41,
// .div-block-42 {
//   padding-top: 15px;
// }

// .div-block-43 {
//   padding-top: 10px;
// }

// .div-block-44 {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   margin-bottom: 0;
//   -webkit-box-pack: start;
//   -webkit-justify-content: flex-start;
//   -ms-flex-pack: start;
//   justify-content: flex-start;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
// }

// .rounded-button {
//   margin-right: 21px;
//   border-radius: 5px;
//   font-size: 12px;
//   line-height: 1em;
// }

// .buy-button,
// .buy-button.snipcart-add-item {
//   height: auto;
//   padding: 0;
//   border-radius: 0;
//   display: block;
// }

// .rounded-button.button-purple {
//   background-color: #7738ec;
// }

// .rounded-button.button-orange {
//   background-color: #f39237;
// }

// .rounded-button.button-green {
//   background-color: #06c228;
// }

// .text-span {
//   display: block;
//   width: auto;
//   -webkit-box-flex: 0;
//   -webkit-flex: 0 0 auto;
//   -ms-flex: 0 0 auto;
//   flex: 0 0 auto;
//   text-align: right;
// }

// .bold-text {
//   width: 90%;
//   -webkit-box-flex: 1;
//   -webkit-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
// }

// .buy-button {
//   position: absolute;
//   left: 0;
//   top: auto;
//   right: 0;
//   bottom: 0;
//   z-index: 10;
//   width: 100%;
//   margin-left: 0;
//   -webkit-box-pack: justify;
//   -webkit-justify-content: space-between;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-flex: 0;
//   -webkit-flex: 0 auto;
//   -ms-flex: 0 auto;
//   flex: 0 auto;
//   background-color: #27974e;
//   font-family: Montserrat, sans-serif;
//   color: #fff;
//   font-size: 18px;
//   line-height: 1em;
//   font-weight: 600;
// }

// .buy-button.snipcart-add-item {
//   width: auto;
//   margin: 0;
//   -webkit-box-align: end;
//   -webkit-align-items: flex-end;
//   -ms-flex-align: end;
//   align-items: flex-end;
//   box-shadow: 0 -1px 10px -4px #000;
// }

// .design-frame-block,
// .div-block-45 {
//   -webkit-box-direction: normal;
//   -webkit-flex-direction: row;
// }

// .buy-button.snipcart-add-item:hover {
//   background-color: #2ead5b;
// }

// .buy-button.snipcart-add-item.price-18x24 {
//   display: block;
// }

// .buy-button.snipcart-add-item.price-18x24.mobile-price {
//   z-index: 99;
//   display: none;
// }

// .buy-button.snipcart-add-item.price-12x16 {
//   display: block;
// }

// .buy-button.snipcart-add-item.price-12x16.mobile-price,
// .buy-button.snipcart-add-item.price-9x12.mobile-price {
//   z-index: 99;
//   display: none;
// }

// .div-block-45 {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   padding-top: 5px;
//   -webkit-box-orient: horizontal;
//   -ms-flex-direction: row;
//   flex-direction: row;
//   -webkit-justify-content: space-around;
//   -ms-flex-pack: distribute;
//   justify-content: space-around;
//   -webkit-box-align: start;
//   -webkit-align-items: flex-start;
//   -ms-flex-align: start;
//   align-items: flex-start;
//   -webkit-box-flex: 1;
//   -webkit-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
//   font-family: Catamaran, sans-serif;
//   line-height: 1em;
//   font-weight: 300;
// }

// .heading-5,
// .text-block-14 {
//   font-family: Montserrat, sans-serif;
// }

// .radio-black-frame {
//   display: block;
//   width: 80px;
//   height: 80px;
//   margin-bottom: 0;
//   padding-top: 0;
//   border: 3px solid transparent;
//   background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca6e5e95f975125bfafb557_frame%20black.gif);
//   background-position: 50% 0;
//   background-size: cover;
// }

// .radio-black-frame:hover {
//   border-color: #f39237;
// }

// .radio-button-label-2 {
//   border-style: solid;
//   border-width: 3px;
//   border-color: red;
//   font-weight: 400;
// }

// .radio-button-field {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   align-self: center;
//   -webkit-box-flex: 1;
//   -webkit-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
// }

// .image-8,
// .image-9,
// .text-span-5 {
//   display: block;
// }

// .size-selection-radio {
//   display: block;
//   margin: 0;
//   padding: 0;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -webkit-flex-direction: column;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-align: center;
//   -webkit-align-items: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   -webkit-box-flex: 0;
//   -webkit-flex: 0 auto;
//   -ms-flex: 0 auto;
//   flex: 0 auto;
//   font-size: 14px;
//   text-align: center;
// }

// .radio-button-field-3 {
//   -webkit-box-flex: 1;
//   -webkit-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
// }

// .frame-selection-radio {
//   width: 100px;
//   margin-right: 3%;
//   margin-bottom: 0;
//   padding-bottom: 15px;
//   padding-left: 0;
//   -webkit-box-flex: 0;
//   -webkit-flex: 0 auto;
//   -ms-flex: 0 auto;
//   flex: 0 auto;
// }

// .info-design-container,
// .text-span-5 {
//   margin-bottom: 10px;
//   background-color: #fff;
// }

// .radio-button-field-5 {
//   -webkit-box-flex: 1;
//   -webkit-flex: 1;
//   -ms-flex: 1;
//   flex: 1;
// }

// .text-span-2,
// .text-span-3,
// .text-span-4 {
//   font-size: 12px;
// }

// .text-span-5 {
//   width: 100px;
//   height: 100px;
//   box-shadow: 0 3px 10px -5px #000;
// }

// .radio-button,
// .radio-button-2,
// .radio-button-3 {
//   display: none;
// }

// .div-block-47 {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
//   width: 340px;
//   grid-auto-columns: 1fr;
//   grid-column-gap: 16px;
//   grid-row-gap: 16px;
//   -ms-grid-columns: 1fr 1fr;
//   grid-template-columns: 1fr 1fr;
//   -ms-grid-rows: auto;
//   grid-template-rows: auto;
// }

// .poster-frame-inner-container,
// .poster-frame-preview {
//   -ms-grid-columns: 1fr;
//   grid-column-gap: 16px;
//   grid-row-gap: 16px;
// }

.info-design-container {
  margin-top: 10px;
  margin-right: 0;
  padding: 20px;
  border-radius: 5px;
}

.logo-link {
  display: block;
  width: auto;
  height: 60px;
  background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5c985b78de94e81748055ea1_Punkpixel%20logo.png);
  background-position: 0 100%;
  background-size: auto 100%;
}

.design-container-block {
  overflow: auto;
  height: 100%;
  padding-right: 4%;
  padding-bottom: 100px;
  padding-left: 4%;
}

.design-logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.design-logo-container.mobile {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  display: none;
  padding-left: 10px;
  color: #000;
}

.dropdown-list,
.icon-2 {
  position: static;
}

.icon-2 {
  margin: 0 0 0 11px;
  padding-top: 2px;
}

.dropdown-list.w--open {
  width: 100%;
  padding-top: 10px;
  background-color: transparent;
}

.dropdown {
  z-index: 5;
  width: 100%;
  padding-top: 10px;
}

.text-block-14 {
  font-size: 13px;
  line-height: 1.2em;
  font-weight: 300;
}

.heading-5,
.text-block-19 {
  font-weight: 400;
}

.heading-5 {
  font-size: 24px;
  line-height: 1em;
}

.body-background {
  overflow: visible;
  background-color: transparent;
  background-image: linear-gradient(68deg, #7e8990 18%, #295383);
}

.div-block-48 {
  width: 601px;
  height: 834px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.div-block-49 {
  box-shadow: inset 18px 0 16px -7px #4c4c4c;
}

.design-radio-label-text {
  display: block;
  margin-top: 70px;
}

.scroll-container {
  overflow: auto;
  height: auto;
}

.background-image-mockup {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5cac25ffe575cfa6c1c00453_1216_poster_background-clear.jpg);
  background-position: 50% 50%;
  background-size: 2185px;
}

.span-option-frame-text {
  display: block;
  height: auto;
  margin-top: 80px;
  padding-top: 0;
  border-style: none;
  border-width: 3px;
  border-color: red;
  font-size: 13px;
  text-align: center;
}

.size-radio-button-label {
  display: block;
  width: 70px;
  height: 80px;
  margin: 0;
  padding: 85px 0 20px;
  clear: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 3px solid transparent;
  background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5cac939ff94f982e9fd4939a_poster-icon.svg);
  background-position: 50% 20px;
  background-size: 50px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 12px;
  line-height: 1em;
}


.design-frame-block {
  display: flex;
  padding: 0;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Catamaran, sans-serif;
  font-size: 17px;
  line-height: 1em;
  font-weight: 300;
}

// .poster-frame-preview {
//   position: relative;
//   display: block;
//   width: 100%;
//   height: 100%;
//   margin-top: 16px;
//   padding: 30px;
//   -webkit-box-pack: center;
//   -webkit-justify-content: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   justify-items: stretch;
//   -webkit-box-align: stretch;
//   -webkit-align-items: stretch;
//   -ms-flex-align: stretch;
//   align-items: stretch;
//   -webkit-align-content: center;
//   -ms-flex-line-pack: center;
//   align-content: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   grid-auto-columns: 1fr;
//   grid-template-columns: 1fr;
//   -ms-grid-rows: auto;
//   grid-template-rows: auto;
//   border-style: solid;
//   border-width: 2px;
//   border-color: hsla(0, 0%, 100%, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) hsla(0, 0%, 100%, 0.3);
//   border-radius: 3px;
//   background-color: #333;
//   box-shadow: 3px 3px 14px -7px #000;
// }

.poster-frame-inner-container,
.poster-grid-container {
  -webkit-align-content: center;
  grid-auto-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

// .poster-frame-preview.display-white-frame {
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   background-color: #fff;
// }

// .poster-frame-preview.display-white-frame.display-black-frame {
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   background-color: #333;
// }

// .poster-frame-preview.display-poster-frame {
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   border-style: none;
//   border-color: #000;
//   border-radius: 0;
//   background-color: transparent;
//   box-shadow: none;
// }

// .poster-frame-preview.display-poster-frame.display-white-frame {
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   border-style: solid;
//   border-color: hsla(0, 0%, 100%, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) hsla(0, 0%, 100%, 0.3);
//   border-radius: 3px;
//   box-shadow: 3px 3px 14px -6px rgba(0, 0, 0, 0.5);
// }

// .poster-frame-preview.display-poster-frame.display-white-frame.display-black-frame {
//   position: relative;
//   display: block;
//   width: 100%;
//   height: auto;
//   min-height: 0;
//   -webkit-align-self: center;
//   -ms-flex-item-align: center;
//   -ms-grid-row-align: center;
//   align-self: center;
//   border-color: hsla(0, 0%, 100%, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) hsla(0, 0%, 100%, 0.3);
// }

.poster-frame-inner-container {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: visible;
  width: auto;
  height: 100%;
  max-width: none;
  min-width: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-grid-row-align: center;
  align-self: center;
  grid-template-columns: 1fr;
}

.poster-frame-inner-container.display-poster-frame,
.poster-frame-inner-container.display-poster-frame-inside {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  border-style: none;
  border-color: #000;
  -ms-grid-row-align: center;
}

.poster-frame-inner-container.display-poster-frame {
  align-self: center;
}

.poster-frame-inner-container.display-poster-frame-inside {
  overflow: visible;
  align-self: center;
  border-radius: 0;
}

.poster-frame-inner-container.display-poster-frame-inside.display-frame-inside {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 1px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3) hsla(0, 0%, 100%, 0.3) hsla(0, 0%, 100%, 0.3) rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.background-mockup,
.background-mockup.background-poster-mockup {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
}

.background-mockup {
  position: absolute;
  width: 100%;
  height: 100%;
  align-self: stretch;
  background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5cac25ffe575cfa6c1c00453_1216_poster_background-clear.jpg);
  background-position: 50% 50%;
  background-size: 2450px;
  background-repeat: no-repeat;
}

.background-mockup.background-poster-mockup {
  align-self: stretch;
  background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5d184b9ff3be3c5d0f8aa3b8_5cac6c08f8d44db6dd190e0b_1__PnL1RaDiWEQphzUfuBuSg-clear.jpg);
  background-position: 55% 0;
  background-size: 1735px;
}

.background-mockup.background-poster-mockup.background-frame-mockup {
  position: absolute;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5cac25ffe575cfa6c1c00453_1216_poster_background-clear.jpg);
  background-position: 50% 50%;
  background-size: 2450px;
}


.poster-grid-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
}

.inner-shadow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  border-style: solid;
  border-width: 10px;
  border-color: rgba(0, 0, 0, 0.3) hsla(0, 0%, 100%, 0.3) hsla(0, 0%, 100%, 0.3) rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 3px 6px 4px rgba(0, 0, 0, 0.5);
}

.container-frame,
.right-container {
  position: relative;
}

.container-frame {
  width: 100%;
  height: 645px;
  max-height: none;
  max-width: 510px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.container-for-resizing {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.poster-rendered-container {
  min-height: 0;
  min-width: 100px;
  margin-top: 65px;
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
}


.canvas-container {
  top: 50%;
  z-index: -1;
  overflow: hidden;
  height: 300px;
}

.image-12 {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.info-button-poster {
  position: static;
  width: 40px;
  height: 40px;
  margin: 0;
  border: 1px #000;
  border-radius: 60%;
  color: #1c77c3;
  font-size: 1.9rem;
  line-height: 0.8em;
  text-align: center;
}

.overlay-background,
.overlay-background.background-poster-mockup {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
}

.overlay-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  align-self: stretch;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.info-menu,
.info-poster,

.overlay-background.background-poster-mockup {
  align-self: stretch;
  background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5cac6c08f8d44db6dd190e0b_1__PnL1RaDiWEQphzUfuBuSg-clear.jpeg);
  background-position: 55% 5%;
  background-size: 230%;
}

.overlay-background.background-poster-mockup.background-frame-mockup {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-image: url(https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5cac25ffe575cfa6c1c00453_1216_poster_background-clear.jpg);
  background-position: 50% 50%;
  background-size: 2450px;
}


.space-backgroud,
.svghtml-embed {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.space-backgroud,
.space-background,
.svghtml-embed {
  position: absolute;
  top: 0;
  height: 100%;
}

.svghtml-embed {
  z-index: 99;
  padding: 8%;
}

.space-backgroud {
  display: block;
  max-width: none;
  margin-right: 0;
  margin-left: 0;
}

.space-background {
  left: -50%;
  right: auto;
  bottom: auto;
  display: none;
  width: auto;
  max-width: none;
}
