// Poster Designs ===================================================
@mixin poster-gen($poster-background-image, $poster-background-color, $poster-quadrent-white, $poster-quadrent-black, $border-grid-color, $border-grid-padding, $circle-wrap-background-image, $circle-wrap-background-color, $circle-wrap-border-color, $circle-wrap-border-width, $circle-wrapper-border-color, $circle-wrapper-border-width, $poster-label-color, $thumbnail-image) {
	background-image: $poster-background-image;
	background-color: $poster-background-color;
	transition: all 0.5s ease;

	* {
		transition: all 0.5s ease;
	}

	#myastro {
		--orbit-color: #{$circle-wrap-border-color};
	}

	.border-grid {
		border: $border-grid-color;
		padding: $border-grid-padding;

		.circle {
			&-wrap {
				background-image: $circle-wrap-background-image;
				background-color: $circle-wrap-background-color;
				border-color: $circle-wrap-border-color;
				border-width: $circle-wrap-border-width;

				.circle-wrapper {
					&-starmap-container {
						.poster-star-map {}
					}

					&-border {
						border-color: $circle-wrapper-border-color;
						border-width: $circle-wrapper-border-width;
					}

					&-quadrent {
						margin: -4px;

						.poster-quadrent {
							-white {
								// display: $poster-quadrent-white;
								display: none;
							}

							&-black {
								// display: $poster-quadrent-black;
								display: none;
							}

							&-calendar-astro-white {
								display: $poster-quadrent-white;
							}

							&-calendar-astro-black {
								display: $poster-quadrent-black;
							}
						}
					}
				}
			}
		}

		.poster-label {
			color: $poster-label-color;
			transition: all 0.1s ease;

			/* design available in webflow-poster-print.css */
			#posterTitle {}

			#posterSubtitle {}

			#posterCoordinates {}

			#posterDate {}

			/* <> design available in webflow-poster-print.css */
		}
	}
}

$cosmic-latte: (poster-background-image: radial-gradient(circle farthest-corner at 50% 50%, #faf8f4, hsla(35.38461538461539, 66.10%, 88.43%, 1.00)),
	poster-background-color: rgb(41, 57, 82),
	poster-quadrent-white : block,
	poster-quadrent-black : none,
	border-grid-color : none,
	border-grid-padding: 0,
	circle-wrap-background-image : radial-gradient(circle farthest-corner at 50% 50%, #243746, hsla(215.2941176470588, 36.17%, 9.22%, 1.00)),
	circle-wrap-background-color : none,
	circle-wrap-border-color: white,
	circle-wrap-border-width: 2.5px,
	circle-wrapper-border-width: 50px,
	circle-wrapper-border-color : #15202c,
	poster-label-color : hsla(207.30538922155688, 0.00%, 29.98%, 1.00),
	thumbnail-image : url('https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca5385a36405185edcc7474_2.png'));
$cosmic-love: (poster-background-image : none,
	poster-background-color: white,
	poster-quadrent-white : none,
	poster-quadrent-black : block,
	border-grid-color : none,
	border-grid-padding: 0,
	circle-wrap-background-image : none,
	circle-wrap-background-color : white,
	circle-wrap-border-color: black,
	circle-wrap-border-width: 2.5px,
	circle-wrapper-border-width: 50px,
	circle-wrapper-border-color : white,
	poster-label-color : black,
	thumbnail-image : url('https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca53858a4d83fef18f9eb9b_4.png'));
$blackhole: (poster-background-image : none,
	poster-background-color: black,
	poster-quadrent-white : block,
	poster-quadrent-black : none,
	border-grid-color : none,
	border-grid-padding: 0,
	circle-wrap-background-image : none,
	circle-wrap-background-color : black,
	circle-wrap-border-color: white,
	circle-wrap-border-width: 2.5px,
	circle-wrapper-border-width: 50px,
	circle-wrapper-border-color : black,
	poster-label-color : white,
	thumbnail-image : url('https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca538593640515840cc7447_5.png'));
$deep-space-blue: (poster-background-image : radial-gradient(ellipse farthest-corner at 50% 50%, #1d2e43 0, #0a1720 100%),
	poster-background-color: white,
	poster-quadrent-white : none,
	poster-quadrent-black : block,
	border-grid-color : none,
	border-grid-padding: 0,
	circle-wrap-background-image : radial-gradient(ellipse farthest-corner at 70% 40%, #f9f5f0 0, #f6e5ce 50%),
	circle-wrap-background-color : black,
	circle-wrap-border-color: #0f1d26,
	circle-wrap-border-width: 2.5px,
	circle-wrapper-border-width: 50px,
	circle-wrapper-border-color : #f6e5ce,
	poster-label-color : #f6e5ce,
	thumbnail-image : url('https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca5385a2965eb34dd6d1ef3_1.png'));
$navy: (poster-background-image : none,
	poster-background-color: rgb(41, 57, 82),
	poster-quadrent-white : block,
	poster-quadrent-black : none,
	border-grid-color : 4px solid white,
	border-grid-padding: 10rem,
	circle-wrap-background-image : none,
	circle-wrap-background-color : rgb(41, 57, 82),
	circle-wrap-border-color: white,
	circle-wrap-border-width: 2.5px,
	circle-wrapper-border-width: 45px,
	circle-wrapper-border-color : rgb(41, 57, 82),
	poster-label-color : white,
	thumbnail-image : url('https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca538593640511b85cc7446_3.png'));
$supernova: (poster-background-image : none,
	poster-background-color: white,
	poster-quadrent-white : block,
	poster-quadrent-black : none,
	border-grid-color : 4px solid black,
	border-grid-padding: 10rem,
	circle-wrap-background-image : none,
	circle-wrap-background-color : black,
	circle-wrap-border-color: white,
	circle-wrap-border-width: 2.5px,
	circle-wrapper-border-width: 45px,
	circle-wrapper-border-color : black,
	poster-label-color : black,
	thumbnail-image : url('https://uploads-ssl.webflow.com/5c982a546929129ffbb9a2cc/5ca538588ad431544152f501_6.png'));

#poster {
	&.cosmic-latte {
		@include poster-gen($cosmic-latte...);
	}

	&.navy {
		@include poster-gen($navy...);
	}

	&.cosmic-love {
		@include poster-gen($cosmic-love...);
	}

	&.blackhole {
		@include poster-gen($blackhole...);
	}

	&.supernova {
		@include poster-gen($supernova...);
	}

	&.deep-space-blue {
		@include poster-gen($deep-space-blue...);
	}
}

#poster {
	&.planets-black {
		background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #1d2e43 0, #0a1720 100%);

		.poster-quadrent {
			&-white {
				display: none;
			}

			&-calendar-black {
				display: block !important;
			}

			&-black {
				display: none;
			}
		}

		.border-grid {
			border: none;
			padding: 0;
		}

		.circle-wrap {
			border-color: #0f1d26;
			background-image: radial-gradient(ellipse farthest-corner at 70% 40%, #f9f5f0 0, #f6e5ce 50%);
		}

		.circle-wrapper-border {
			border: none;
		}

		.poster-label {
			color: #f6e5ce !important;
		}
	}

	&.planets-white {
		background-image: radial-gradient(circle farthest-corner at 50% 50%, #faf8f4, hsla(35.38461538461539, 66.10%, 88.43%, 1.00));

		.poster-quadrent {
			&-black {
				display: none;
			}

			&-calendar-white {
				display: block;
			}

			&-white {
				display: none;
			}
		}

		.border-grid {
			border: none;
		}

		.circle-wrap {
			background-image: radial-gradient(circle farthest-corner at 50% 50%, #243746, hsla(215.2941176470588, 36.17%, 9.22%, 1.00));
		}

		.circle-wrapper-border {
			border: none;
		}

		.poster-label {
			color: hsla(207.30538922155688, 0.00%, 29.98%, 1.00);
		}
	}

	&.planets-white-calendar {
		background-image: radial-gradient(circle farthest-corner at 50% 50%, #faf8f4, hsla(35.38461538461539, 66.10%, 88.43%, 1.00));

		.poster-quadrent {
			&-white {
				display: none;
			}

			&-calendar-astro-white {
				display: block !important;
			}

			&-black {
				display: none;
			}
		}

		.circle-wrapper-quadrent {
			margin: -70px;
		}

		.circle-wrapper-starmap-container {
			margin: 80px;
		}

		.border-grid {
			border: none;
			padding: 0;
		}

		.circle-wrap {
			border-color: #0f1d26;
			background-image: radial-gradient(circle farthest-corner at 50% 50%, #243746, hsla(215.2941176470588, 36.17%, 9.22%, 1.00));
		}

		.circle-wrapper-border {
			border: none;
		}

		.poster-label {
			color: hsla(207.30538922155688, 0.00%, 29.98%, 1.00);
		}
	}

	&.planets-black-calendar {
		background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #1d2e43 0, #0a1720 100%);

		.poster-quadrent {
			&-white {
				display: none;
			}

			&-calendar-astro-black {
				display: block !important;
			}

			&-black {
				display: none;
			}
		}

		.circle-wrapper-quadrent {
			margin: -70px;
		}

		.circle-wrapper-starmap-container {
			margin: 80px;
		}

		.border-grid {
			border: none;
			padding: 0;
		}

		.circle-wrap {
			border-color: #0f1d26;
			background-image: radial-gradient(ellipse farthest-corner at 70% 40%, #f9f5f0 0, #f6e5ce 50%);
		}

		.circle-wrapper-border {
			border: none;
		}

		.poster-label {
			color: #f6e5ce !important;
		}
	}
}

// <> Poster Designs ===================================================
